<!DOCTYPE html>
{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
	{{if auth.user is None:}}
        var logged_in = false;
    {{else:}}
        var logged_in = true;
    {{pass}}
	//api functions for chat box
	var new_box   = "{{=URL('api', 'add_textBox',   user_signature=True)}}";
	var edit_box  = "{{=URL('api', 'edit_textBox',  user_signature=True)}}";
	var get_box   = "{{=URL('api', 'get_textBox',   user_signature=True)}}";
	var get_Title = "{{=URL('api', 'get_textTitle', user_signature=True)}}";
	var del_box   = "{{=URL('api', 'del_textBox',   user_signature=True)}}";

  	//api functions for queue
	var insert_queue      = "{{=URL('api', 'insert_queue',      user_signature=True)}}";
	var get_list_of_queues= "{{=URL('api', 'get_list_of_queuess', user_signature=True)}}";
	var remove_queues      = "{{=URL('api', 'remove_queues',      user_signature=True)}}";

	var match_users       = "{{=URL('api', 'match_users',       user_signature=True)}}";
	var countdown         = "{{=URL('api', 'countdown',         user_signature=True)}}";
		
	var setUsername       = "{{=URL('api', 'store_username')}}";
	var getUsername       = "{{=URL('api', 'grab_username')}}";
	var check_repeats     = "{{=URL('api', 'check_username')}}";
</script>
{{end}}
<body>
	<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Slug Roulette</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/SlugRoulette/default/index">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/SlugRoulette/default/chat">Chat Anonymously</a>
            </li>
	    {{if auth.user is None:}}
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/SlugRoulette/default/user/register?_next=/SlugRoulette/default/index">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/SlugRoulette/default/user/login?_next=/SlugRoulette/default/index" >Sign in</a>
            </li>
	    {{pass}}

	    {{if auth.user:}}
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/SlugRoulette/default/user/logout?_next=/SlugRoulette/default/index">Log Out</a>
            </li>
	    {{pass}}
          </ul>
        </div>
      </nav>
    </header>

    <div class="empty_space container">
    	<br><br><br>
    </div>

    <!-- Main code to display the chats -->

	<div class="main_content">
	
		<div id="vue-div" class="display:none">
			<br>
			<div v-if="logged_in">
				<div v-if="needs_username">
					<input v-model="username" type="text">
					<button v-on:click="set_username()"> Set Username </button>
				</div>
			</div>
			<div v-if="!needs_username">
	<!--.................................................. Buttons to alternate btwn random chat and group chat .................................-->
			<button v-on:click="if(!isRandom){
				  	    	insertQueue();
					    }
					    isRandom = true;"> Random Chat  </button>
	
			<button v-on:click="if(isRandom){
					    	removeQueue();
					    }
					    getTitle();
					    isRandom =    false;
					    listChats =   [];"> Chat Servers </button>
	
	<!--................................................... Code to Display Random chat ..........................................................-->
			
			<div v-if="isRandom">
				{{if auth.user:}}
			
				<!-- displays if user is still searching for someone to chat with -->
				<div v-if="!isChatting">
					Searching${searchingForChat}
				</div>
	
				<!-- displays chat for every user you have talked to in one session -->
				<div v-if="rcurrentChat!=null">
					<div class="random container">
					<div v-if="isChatting">
						You have ${time} seconds left
					</div>
					<div class="chat1 container">
					<div v-for="chats in listChats" v-if="chats != null"> 
						<b> ${chats.chat[0]}</b> <br>
	
							<div v-for="line in chats.chatter.length">
								<div class="chat2 container">
								<b>${chats.chatter[line-1]}:</b> ${chats.chat[line]}
								</div>
							</div>
						</div>
					</div>
					</div>
				
					<button v-if="isChatting" v-on:click="editChat(rserverId);
							    		      editChat(randomBox);">Send</button>
					<textarea type="text" v-if="isChatting" placeholder="send" v-model="newChatting"></textarea>
				</div>
	
				{{else:}}
				You must first be logged in to join the random chat
				{{pass}}
			</div>
	
	<!--................................................... Code to Display group chat tab .......................................................-->
			<div class="container">
				<div v-if="!isRandom">		
					<div class="quarter left">
					<!-- code used to make a new chat room-->
					<div class="chat_title">
						Create a Chat:
					</div>
					<button v-on:click="if(newTitle == '' || newTitle == null){
								alert('your Title cannot be empty. Please try again');
							    }
							    else{
							    	makeNewChat(true);
							    }
							    refresh();">  Add </button>
					<textarea type="text" placeholder="Title" v-model="newTitle"></textarea>
		
		
		
					<br><br>
					<div class="chat_title">
						Chats Active
					</div>
		
					<!-- code for serach bar for chat Titles -->
					<textarea type="text" placeholder="Search for Chat" v-model="searching"></textarea>
				
					<!-- code to display a list of chat Titles -->
					<div class="chat_rooms">
						<div v-for="chat in chats">
		
							<!-- if statement checks if the chat is being searched for -->
							<div v-if="searching == null       ||
							  	 searching == ''         ||
							  	 chat.Title == searching ||
							  	(chat.Title.length > searching.length && 
							  	 chat.Title.substring(0,searching.length) == searching)">
		
								<!-- if this button is clicked, then user is redirected to the chat -->
								<button v-on:click="serverId = chat.id;
									    	getChat();
									    	isServer = true;
									    	searching = null;">Join</button>
			
			
								<b>${chat.Title}</b> 
								<br>
							</div>
						</div>
						</div>
					</div>
			
					<!--........... Code to display a chat box when user joins a chat ..........-->
					<div class="chat1 threequarters right" style="border:5px solid #cecece" v-if="currentChat != null">
						<div class="scrollbar scrollbar-primary">
	   						<div class="force-overflow"></div>
						</div>
						<div class="chat_title">
							Now Chatting In: ${currentChat.Title}
						</div>
						<!-- displaying the message for the chat box -->
						<div v-for="line in (currentChat.chat.length)">
							<div class="chat2 container darker">
								<p><b>${currentChat.chatter[line-1]}</b>: ${currentChat.chat[line-1]}</p>
							</div>
						</div>
			
						<!-- the sending part of the chat box -->
						<button v-on:click="editChat(currentChat.id);"> Send </button>
						<textarea class="chat_input" style="resize: none" type="text" placeholder="Send" v-model="newChatting"></textarea>
			
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script src="{{=URL('static','js/jquery.js')}}"></script>
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
</body>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
