<!DOCTYPE html>
{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
	//api functions for chat box
	var new_box   = "{{=URL('api', 'add_textBox',   user_signature=True)}}";
	var edit_box  = "{{=URL('api', 'edit_textBox',  user_signature=True)}}";
	var get_box   = "{{=URL('api', 'get_textBox',   user_signature=True)}}";
	var get_Title = "{{=URL('api', 'get_textTitle', user_signature=True)}}";
	var del_box   = "{{=URL('api', 'del_textBox',   user_signature=True)}}";

  	//api functions for queue
	var insert_queue      = "{{=URL('api', 'insert_queue',      user_signature=True)}}";
	var get_list_of_queues= "{{=URL('api', 'get_list_of_queuess', user_signature=True)}}";
	var remove_queues     = "{{=URL('api', 'remove_queues',      user_signature=True)}}";

	var match_users       = "{{=URL('api', 'match_users',       user_signature=True)}}";
	var countdown         = "{{=URL('api', 'countdown',         user_signature=True)}}";

</script>
{{end}}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>

<!--... makes sure that if user closes tab, they are removed from queue.
	DOES NOT WORK ON FIREFOX IF USER CLOSES WINDOW -->
<body>
	<!-- Heading bar to log in/chat with people-->
	<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Slug Roulette</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/SlugRoulette/default/index">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/SlugRoulette/default/chat">Chat Anonymously</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/SlugRoulette/default/user/register?_next=/SlugRoulette/default/index">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/SlugRoulette/default/user/login?_next=/SlugRoulette/default/index" >Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/SlugRoulette/default/user/logout?_next=/SlugRoulette/default/index">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Carousel to showcase what we do -->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="../static/images/carousel1.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Sign Up and Meet/Chat with Local Slugs!</h1>
                <p>As simple as signing up and clicking a button!</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="../static/images/background.jpg" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Alone? Randomly and Anonymously find people!</h1>
                <p>We will match you up with other people who want to meet someone new!</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Find Someone!</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="../static/images/benbrode.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>HAHAHAHAHAHAHAHAHAHAHAHAHAHA</h1>
                <p>Get out of here Ben Brode.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">HAHAHAHAHAHAHAHAHAHAHAHAHAHA</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- Buttons to go to the chat!!!!! -->
      <div class="chat-buttons">
      </div>
      <!-- Market to visitors why they should use our services -->
       <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="../static/images/alone.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Alone?</h2>
            <p>Don't feel down and blame yourself. Instead you should be reaching out and explore new opportunities! It's time for you to take the initiative and take your livelyhood back. 
            Learn more about how our services can help you change how you feel.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../static/images/bored.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Bored?</h2>
            <p>What's more exciting than meeting new people? Discover new hobbies, cultures, and experiences with just one click! Bring out the adventurous spirit in you and discover 
            something new! With the diversity this campus brings, theres no better chance to meet up!</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../static/images/wtf.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>How Did I Get Here??</h2>
            <p>Sometimes you just wander into the different and exotic parts of the internet. Why not take it further and meet up with your fellow slugs? You have nothing to lose!</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <!-- Showcase a few of the features -->
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Anonymous Chatting<span class="text-muted"> Don't be afraid!</span></h2>
            <p class="lead">This isn't called roulette for no reason, while we pride ourselves for the multiple services we offer, we are most proud of our most defining 
            service, the random anonymous chat. Simply join the queue and meet up with someone new! Let the internet be your guise and express yourself.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../static/images/meet.jpg">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Create a Profile!<span class="text-muted"> Stay connected for longer!</span></h2>
            <p class="lead">Sometimes you mignt run into the perfect someone. Don't lose touch! Create your own personal user and add users you personally meet! Don't be held
            back by the time limit. Talk for however long you want to!</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Join a random chatroom!<span class="text-muted"> Meet multiple people!</span></h2>
            <p class="lead">Sometimes talking with just 1 person is not enough! Users can create their own chatrooms and moderate them! Join a room and find people you want 
            to connect with! Maybe you can find a future friend or soulmate?</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

  <footer class="container">
          <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    <!-- Bootstrap js -->
    <script src="{{=URL('static','js/jquery.js')}}"></script>
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
</body>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>


